@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading: rgb(0 10 45);
    --white: hsl(0, 0%, 100%);
    --skill: #bdbdbd;
    --para: #777777;
    --overlay: #2e3964;
    --para-tint: hsl(0, 0%, 100%);
    --third: #fff;
    --helper: rgb(19, 54, 81); 
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --black: #212529;
    --gradient: linear-gradient(0deg, rgb(53, 55, 73) 0%, rgb(28, 79, 117) 100%);
    --shadow: 0px 0px 20px 0px rgba(90, 101, 195, 0.2);
    --shadowSupport: 0 2rem 2rem 0 rgba(48, 54, 106, 0.3);
}

html{
    font-size: 62.5%;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1,h2,h3,h4{
    font-family: "Rufina", serif;
    font-family: "Poppins", sans-serif;
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
}
p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


/* HEADER SECTION START */
 

.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header .logo {
    height: 6.5rem;
}

.navbar-lists{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active{
    color:var(--helper)
}

.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border : none;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background-color:  transparent;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
  } */

/* REUSABLE CODE*/
.section{
    padding: 9rem 0;
}

.grid{
    display: grid;
    gap:9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}

.btn{
    background: var(--gradient);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition:  all 0.3s ease 0s;
    -moz-transition:  all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:active{
    box-shadow: var(--shadowSupport);

}

.common-heading{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom:  6rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--helper);
    border-radius: 50%;
}

.common-heading::after{
    content: "";
    position: absolute;
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background: var(--helper);
}

/* Hero Section */

.section-hero{
    background-color: var(--bg);
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    max-width: 140rem;
    margin: 0 auto;

}

.hero-img{
    max-width: 80%;
    border: 0.1px solid var(--black);
    box-shadow: -2rem -2rem 0 0 var(--helper);
    border-radius: 2rem;
}

.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para{
    margin-top: 1.0rem;
    margin-bottom: 3.5rem;
    max-width: 60rem;
}

.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* academic and bio(skills) section */
.edu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.edu1,.edu2,.edu3{
    border: 1px solid var(--black);
    box-shadow: -2rem -2rem 0 0 var(--helper);
    padding: 5rem 2rem;
    border-radius: 2rem;
    margin: 5rem 0;
}
.edu1{
    margin-top: 9rem;
}
.college,.city{
    font-size: 1.6rem;
    font-weight: 570;
}
.course, .cgpa{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 420;
    font-style: oblique;
}

.bio-image img{
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}

.bio-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-data-stats{
    display: flex;
    padding: 0.6rem 0 6.4rem 0;
    flex-direction: column;
    gap: 3rem;

}

.bio-stats h3{
    margin-bottom: 1rem;;
}

.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color: var(--skill);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradient);
    border-radius: 10rem;
}

.bio-progress-2::before{
    width: 96%;
}

.bio-progress-3::before{
    width: 85%;
}

.bio-progress-4::before{
    width: 88%;
}

.bio-progress-5::before{
    width: 80%;
}

.bio-progress-6::before{
    width: 75%;
}

.bio-progress-7::before{
    width: 80%;
}

.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
}

.bio-progress-bar span{
    left: 76%;
}

.bio-progress-2 span{
    left: 92%;
}

.bio-progress-3 span{
    left: 81%;
}

.bio-progress-4 span{
    left: 84%;
}

.bio-progress-5 span{
    left: 76%;
}
.bio-progress-6 span{
    left: 71%;
}

.bio-progress-7::before span{
    left: 76%;
}

/* to create carret */
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -1.6rem;
}

.section-portfolio{
    background: var(--bg);
    transition: all 0.7s linear;
}

.section-portfolio p{
    max-width: 100%;
    justify-content: center;
    text-align: justify;
}

.p-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.20rem;
    margin: 6.4rem 0;
}

.portfolio-images{
    gap: 3.2rem;
}

.portfolio-images img{
    max-width: 100%;
    border-radius: 0.7rem;
    position: relative;
}

.img-overlay{
    position: relative;
    overflow: hidden;
}

.img-overlay .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 0.7rem;
}

.img-overlay:hover > .overlay{
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
}


.p-btn-active{
    transform: translateY(-1rem);
}


/* freelancing section */
.section-freelancing{
    background-image: url(../images/folio/3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}

.section-freelancing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    opacity: 0.7;
}

.section-freelancing .container{
    position: relative;
}

.section-freelancing h2{
    font-size: 5.4rem;
}

.section-freelancing span{
    color: #a0f669;
}

.section-freelancing h2,
.section-freelancing p{
    color: var(--white);
    margin-bottom: 1.8rem;
}

/* contact us section */
.section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
}

.section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.section-contact-main input,
.section-contact-main textarea{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
}

.section-contact-main input[type="submit"]{
    max-width: 30%;
    border: none;
}

.section-contact-main .grid{
    gap: 3.2rem;
}

/* footer section */
.section-footer{
    background:var(--heading);
    transition: all 0.7 linear;
}

.f-credits{
    text-align: center;
    color: #adadad;
}

/* scroll section */
.scrollTop-style{
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
}

@keyframes water-wave {
    0% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50% {
      border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
  }

.scroll-top{
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--white);
    border: 1px solid rgba(11, 15, 20, 0.5);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

/* media query 1520px*/

@media(max-width:95em){
    .container{
        max-width: 130rem;
        padding: 0 3.2rem;
    }

    .navbar-lists{
        gap: 3.4rem;
    }
}

/* media query 1520px*/

@media(max-width: 75em){
    html{
        font-size: 56.25%;
    }

    .container{
        max-width: 110rem;
    }

    .grid{
        gap: 4.8rem;
    }
}


/* media query 980px*/

@media (max-width : 62em){
    html{
        font-size: 50%;
    }
    .header{
        position: relative;
    }
    .mobile-navbar-btn {
        display: block;
        z-index: 9999;
        border: 3px solid var(--black);
        color: var(--black);
    }
    .mobile-nav-icon {
        width: 5rem;
        height: 5rem;
        color: var(--black);
    }

    .header.logo {
        width: 40%;
    }
     
    .navbar {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--gradient);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
    }

    .navbar-lists{
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-lists .navbar-link:link,
    .navbar .navbar-lists .navbar-link:visited{
        color: var(--black);
        font-size: 3.2rem;;
    }

    .active .navbar{
        transform: translateX(0%);

        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }

    .section-hero{
        line-height: 1.05;
    }

    .img-overlay .common-heading{
        font-size: 3.2rem;
    }

    .img-overlay .overlay .common-heading::before,
    .img-overlay .overlay .common-heading::after{
        content: "";
        width: 0rem;
        height: 0rem;
    }
}



/* media query 790px*/

@media (max-width: 49em){
    .container{
        max-width: 71rem;
    }

    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-hero-data{
        align-items: center;
    }

    .hero-heading{
        text-align: center;
    }

    .hero-para{
        text-align: center;
        margin-top: 2rem;
    }

    .section-hero img{
        width: 70%;
    }

    /* biodata or about  section */
    .section-bio-data .grid-two-column{
        grid-template-columns: 1fr;
    }


    .section-bio-data .bio-image{
        grid-row: 2;
        margin-top: 3.2rem;
    }

    .section-bio-data .bio-image img{
        width: 50%;
    }

    /* .bio-data-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}

/* portfolio section */
.section-portfolio .grid-three-column{
    grid-template-columns: repeat(2, 1fr);
}

/* below 560 px */
@media(max-width:35em){
    .header{
        padding: 0 3.2rem;
    }

    .header .logo{
        width: 50%;
    }

    .p-btns{
        gap: 2.8;
    }

    .btn{
        padding: 1rem 1.8rem;
    }

    .section-freelancing{
        font-size: 3rem;
    }

    .contact-container .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-contact-main input[type="submit"]{
        max-width: 40%;
    }

    .contact-container{
        padding: 0 3.2rem;;
    }
    .img-overlay .common-heading{
        font-size: 2.4rem;
    }
}